{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paqueteporcliente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paqueteporcliente.id }}</td>
            </tr>
            <tr>
                <th>Cutomerid</th>
                <td>{{ paqueteporcliente.cutomerId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paqueteporcliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paqueteporcliente_edit', { 'id': paqueteporcliente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
