{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estancia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Diasdepermanencia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estancium in estancias %}
            <tr>
                <td><a href="{{ path('estancia_show', { 'id': estancium.id }) }}">{{ estancium.id }}</a></td>
                <td>{{ estancium.diasdepermanencia }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estancia_show', { 'id': estancium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estancia_edit', { 'id': estancium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estancia_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
