{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ruta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rutum.id }}</td>
            </tr>
            <tr>
                <th>Idpaquete</th>
                <td>{{ rutum.idPaquete }}</td>
            </tr>
            <tr>
                <th>Lugares</th>
                <td>{{ rutum.lugares }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ruta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ruta_edit', { 'id': rutum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
