{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hotel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ hotel.nombre }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ hotel.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hotel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hotel_edit', { 'id': hotel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
